body{
    background-image: url(bck3.jpg);
    background-size: cover;
}
header{
    /* border: 2px red solid; */
}
#wlcm{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    /* margin-top: 1px; */
}
.sp{
    color: maroon;
    text-decoration: underline;
}
#img{
    display: block;
    height: 25%;
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
}
#d1{
    /* border: 2px red solid; */
    
}
.card {
    background-color: bisque;
    padding: 2%;
    border: 2px black solid;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 24%;
    margin-left: 37%;
  }
  .card h2 {
    margin-bottom: 10%px;
    font-size: 24px;
    color: #333;
  }
  .contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 18px;
    margin: 10px 0;
    transition: 0.3s;
  }
  .contact-link:hover {
    background-color: #0056b3;
  }
  .contact-link img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }